body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.tag-container{
  padding-top: 19px;
  display: flex;
}
.tag{
  padding: 8px;
  margin: 5px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  font-size: 18px;
 
}

#javascript{
  background-color: yellow;
}
#python{
  background-color: turquoise;
}
#java{
  background-color: magenta;
}


